
<div class="slide" ng-repeat="company in companies" destroy-and-rebuild>
    <span class="title">{{company.company}}</span>
    <div class="row">
        <span><em>{{company.startDate | date: 'MMMM, yyyy'}} - {{company.endDate | date: 'MMMM, yyyy'}}</em></span>
    </div>
    <div class="row">
        <span><h5><strong>{{company.title}}</strong></h5></span>
    </div>
    <div class="row">
        <span><h6>{{company.role}}</h6></span>
    </div>
    <div class="row" ng-repeat="d in company.description">
        <span class="glyphicon glyphicon-unchecked"><p>{{d}}</p></span>
    </div>
</div>